<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estiloJefe.css">
    <link rel="shortcut icon" href="/static/images/DIP.png" type="image/png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Raleway&display=swap');
    </style>
    <title>Imperium D.I.P</title>
</head>

<body>
    <div class="encabezado">
        <img src="/static/images/logooriginal.png" alt="" class="dip">
        <p class="ayuda"><a href="ayuda.html"><img src="/static/images/ayuda.png" class="ayuda"><br>ayuda</a></p>
    </div>
    <div class="clear"></div>
    <br>

    <div id="contenedor">

        <div id="izquierda">
            <h1>div Izquierda</h1>
            <p>Este es un texto de ejemplo Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, doloremque.
                Molestiae voluptates quo accusamus nulla architecto sint quidem, voluptas vero eveniet explicabo
                repudiandae nam tenetur, id odio odit, earum numquam!</p>
        </div>

        <div id="derecha">
            <h1>div Derecho</h1>
            <p>Este es un texto de ejemplo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, beatae natus!
                In nulla suscipit earum quisquam dolore alias assumenda quae temporibus enim, itaque, deserunt eius
                tempora, corporis ex repellendus iusto.</p>
        </div>

    </div>

</body>

</html>